@model Project_63132204.Models.NhanVien

@{
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>THÔNG TIN NHÂN VIÊN</title>
</head>
<body>
    <div>
        <h4>NhanVien</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Họ nhân viên:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HoNV)
            </dd>
    
            <dt>
               Tên nhân viên:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TenNV)
            </dd>
    
            <dt>
                Ngày sinh:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NgaySinh)
            </dd>
    
            <dt>
                Giới tính:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GioiTinh)
            </dd>
    
            <dt>
                Địa chỉ:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>
    
            <dt>
               Số điện thoại:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SDT)
            </dd>
    
            <dt>
                Lương:
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Luong)
            </dd>
   
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Trở về", "Index")
    </p>
</body>
</html>
