@model Project_63132204.Models.HoaDonDichVu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNV.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDonDichVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DichVu.TenDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DichVu.TenDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phong.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phong.TenPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
