@model Project_63132204.Models.KhachHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
}
<!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>THÔNG TIN CHI TIẾT</title>
    </head>
    <body>
        <div>
            <h4>KhachHang</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Họ Khách hàng:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HoKH)
                </dd>

                <dt>
                    Tên khách hàng:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenKH)
                </dd>

                <dt>
                    Số CCCD/CMND:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CCCD)
                </dd>

                <dt>
                    Giới tính:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GioiTinh)
                </dd>

                <dt>
                    Số điện thoại:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SDT)
                </dd>

                <dt>
                    Email:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    Tài khoản:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TKKH)
                </dd>

                <dt>
                    Mật khẩu:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MKKH)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Trở về", "../Home/Index")
        </p>
    </body>
</html>

