@model Project_63132204.Models.HoaDonDatPhong

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDonDatPhong</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayDat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayVao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayVao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayRa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayRa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThanhToan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThanhToan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phong.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phong.TenPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KhachHang.HoKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KhachHang.HoKH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoNV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
