@model IEnumerable<Project_63132204.Models.HoaDonDatPhong>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NgayDat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayVao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayRa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThanhToan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phong.TenPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.HoKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NhanVien.HoNV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayVao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayRa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThanhToan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phong.TenPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.HoKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NhanVien.HoNV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
